
.container h3 {
    font-size: 32px;
    color: #010000;
}
.card-titulo {
    font-weight: bold;
}

.card-texto {
    font-size: 0.9rem;
    color: #555;
}
.card-body {
    background-color: #E1E1E1;
}

.card-img-top {
    height: 360px;           
    object-fit: cover;      
    object-position: center; 
}

.card-footer svg {
    margin-right: 4px;
}

.tarjeta-borde {
    border: 3px solid #E73725;
    border-radius: 10px;
}

.card:hover{
    transform: scale(1.02);
    box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.2);
}

.hover-card {
    overflow: hidden;
    position: relative;
    
}

.hover-info {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.95);
    border: 1px solid #ccc;
    display: none;
    z-index: 10;
}

.hover-card:hover .hover-info {
    display: block;
}

.btn-custom {
    background-color: #E73725;
    color: white;
    font-weight: bold;
}

.btn-custom:hover {
    background-color: #ff6e5b;
}